{% extends "base.html" %}


{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
      console.log("Works")
      $(".form-check-input").on('click',function () {
        var filter_obj = {}
        $(".form-check-input").each(function(){
            
            // console.log($(this).data('filter'),$(this).val());
            filter_obj[$(this).data('filter')]=Array.from(document.querySelectorAll('input[data-filter='+$(this).data('filter')+']:checked')).map(function(el){
                return el.value;
            });
        
        });
        // $("input:checkbox[name=test]:checked").each(function(){
            
        //     filter_val.push($(this).val());
        
        // });
        // filter_obj[$(this).data('filter')] = filter_val 
        console.log(filter_obj);
        
        $.ajax({
            url: '{% url "ajax_filter" %}',
            data: filter_obj,
            dataType : 'json',
            success : function(res){
                console.log(res);
                $('.table').html(res.data)
            }

        });    
    });
      });
  </script>
{% endblock %}

{% block content %}

<h3 style='margin-top:10px;'>Filter according to:</h3>
<div class="row">
    <div class="col-sm-4">
        <p style='margin-top:10px;'>All keywords:</p>
    </div>
    <div class="col-sm-4">
        <p style='margin-top:10px;'>All Users:</p>
    </div>
    <div class="col-sm-4">

    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        {% for keyword in object_list %}
        <div class="form-check">
            <input class="form-check-input" name='test' type="checkbox" data-filter="keyword" value="{{keyword.keywords}}" id="checkKeywords" unchecked>
            <label class="form-check-label" for="flexCheckChecked">
                {{keyword.keywords}}
            </label>
        </div>
        {% endfor %}
    </div>
    <div class="col-sm-4">
        {% for users in user_list %}
        <div class="form-check">
            <input class="form-check-input" name='test'type="checkbox" data-filter="user" value="{{users.username}}" id="checkKeywords" unchecked>
            <label class="form-check-label" for="flexCheckChecked">
                {{users.username}}
            </label>
        </div>
        {% endfor %}
    </div>
    <div class="col-sm-4">
        <!-- {% for time in time_list %}
        <div class="form-check">
            <input class="form-check-input" name='test'type="checkbox" data-filter="user" value="{{time.date}}" id="checkKeywords" unchecked>
            <label class="form-check-label" for="flexCheckChecked">
                {{time.date}}
            </label>
        </div>
        {% endfor %} -->
    </div>
</div>





<table class="table">
    <thead>
      <tr>
        <th scope="col">Keywords</th>
        <th scope="col">Details</th>
        <th scope="col">User</th>
        <th scope="col">Search date</th>
      </tr>
    </thead>
    <tbody>
    {% for history in object_list%}    
        <td>{{history.keywords}}</td>
        <td>{{history.details}}</td>
        <td>{{history.user}}</td>
        <td>{{history.search_date}}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table

{% endblock content %}


